@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:wght@400;500&family=Sedgwick+Ave+Display&display=swap');

:root {
  --primary-color: #0ea5e9;
  --primary-color-dark: #0284c7;
  --text-light: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.main {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 5rem;

  overflow: hidden;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 2rem 5rem;
  top: 0;
  left: 0;

  align-items: center;
  justify-content: space-between;
}

nav .logo {
  color: var(--text-light);
  font-size: 1.2rem;

  font-weight: 500;
}

.bg__video {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

nav ul {
  display: flex;

  list-style: none;
  gap: 3rem;
}

nav ul li a {
  color: var(--text-light);
  font-size: 1.2rem;
  text-decoration: none;

  transition: .3s;
  font-weight: 500;
}
nav ul li a:hover {
  color: var(--primary-color-dark);
}

.content {
  color: var(--text-light);
  text-align: center;
}

.content h1 {
  font-size: 7rem;

  font-family: 'Sedgwick Ave Display', cursive;
}

.content h1 span {
  font-size: 5rem;
}
.content p {
  font-size: 1.5rem;

  margin-bottom: 2rem;
  font-family: 'Alkatra', cursive;
}
.content .promo {
  width: 300px;
  margin: auto;
  padding: .5rem;
  font-size: 1.2rem;

  cursor: pointer;
  transition: .3s;
  border-radius: 2rem;
  background-color: var(--primary-color);
  font-family: 'Alkatra', cursive;
}
.content .promo:hover {
  background-color: var(--primary-color-dark);
}

@media (min-aspect-ratio: 16/9) {
  .bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg__video {
    width: auto;
    height: 100%;
  }
}
